---
title: dylnbk.page
layout: layouts/base.njk
---
<div class="post-panel-front">
    <div class="contact">
        <h1 class="contact-header">About</h1>
    

    </div>
</div>

<script>
    window.onload = function() {
        document.getElementById('about').className='underline-perm';
    };
</script>