---
title: dylnbk.page
layout: layouts/base.njk
---
<div class="post-panel-front">
    <div class="apps">
        <section class="cards-wrapper">
          <a class="card" href="https://grabby.streamlit.app/" style="--bg-img: url(/media/uploads/grabby.JPG)">
            <div>
              <h2>grabby.app</h2>
              <p>Download content from YouTube, Instagram, TikTok, Reddit, Twitter & more...</p>
            </div>
          </a>

          <a class="card" href="https://switchy.streamlit.app/" style="--bg-img: url(/media/uploads/switchy.JPG)">
            <div>
              <h2>switchy.app</h2>
              <p>Conversion & compression for various image, video & audio formats...</p>
            </div>
          </a>

          <a class="card" href="https://botbuddy.netlify.app/" style="--bg-img: url(/media/uploads/botbuddy.JPG)">
            <div>
              <h2>botbuddy.app</h2>
              <p>Speak to GPT, have a conversation with the latest language AI...</p>
            </div>
          </a>

          <a class="card" href="https://quietly.streamlit.app/" style="--bg-img: url(/media/uploads/quietly.JPG)">
            <div>
              <h2>quietly.app</h2>
              <p>Create secret messages & generate passwords that expire or self-destruct...</p>
            </div>
          </a>
        </section>
    

    </div>
</div>

<script>
    window.onload = function() {
        document.getElementById('apps').className='underline-perm';
    };
</script>
