---
title: dylnbk.page
layout: layouts/base.njk
---
        
                    <ul class="post-panel-front">

                        {% for post in collections.posts | reverse %}
                                <div class="container">
                                    <div class="box">
                                        <h2>
                                            <a class="post-title-front" href="{{ post.url | url }}">{{ post.data.title }}</a>
                                        </h2>
                                        <div style="padding-bottom: 10px;">
                                            <time class="post-date-front" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                                        </div>
                                        <span class="post-description">
                                            {{ post.data.description }}
                                        </span>
                                    </div>
                                </div>
                        {% endfor %}

                    </ul>
                    <script>
                        window.onload = function() {
                            document.getElementById('blog').className='underline-perm';
                        };
                    </script>