---
title: dylnbk.page
layout: layouts/base.njk
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 5
  alias: posts
---

<ul>

    {% for post in posts %}
        
        <li>
            <strong>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </strong>
            -
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            -
            <span>
                {{ post.data.description }}
            </span>

        </li>

    {% endfor %}

</ul>