---
title: dylnbk.page
layout: layouts/base.njk
---

<ul class="post-panel-front">
    <div class="row">
        {% for pics in collections.photos | slice(4) %}
            <ul class="column">
            {% for pic in pics | reverse %}
                <div>
                    <a href="{{ pic.url | url }}"><img class="front-image" src="{{ pic.data.photoImage }}" alt="{{ photoImage }}"></img></a>
                </div>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</ul>

<script>
    window.onload = function() {
        document.getElementById('photography').className='underline-perm';
    };
</script>