---
title: dylnbk.page
layout: layouts/base.njk
---
<div class="post-panel-front">

    <h1>Thanks!</h1>
    

</div>
<nav>
    <a href="/contact/index.html">&#10229;</a>
</nav>
<script>
    window.onload = function() {
        document.getElementById('contact').className='underline-perm';
    };
</script>