---
title: dylnbk.page
layout: layouts/base.njk
---
<div class="post-panel-front">
    <div class="contact">
        <h1 class="contact-header" style="padding: 20px;">Your message has been sent!</h1>
    </div>
</div>
<nav>
    <a href="/contact/index.html">&#10229;</a>
</nav>
<script>
    window.onload = function() {
        document.getElementById('contact').className='underline-perm';
    };
</script>