---
layout: layouts/base.njk
---

<div class="post-panel-front">
    <div class="blog-post-page">
        <div class="blog-post-top">
            <picture>
                <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 1023px)">
                <img class="featured-image" src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
            </picture>
            <div class="title-box">
                <h2 class="post-title">{{ title }}</h2>
            </div>
        </div>
        <article class="post-content"> {{ content | safe }} </article>
    </div>
</div>
<nav>
    <a href="/">&#10229;</a>
</nav>

<script>
    window.onload = function() {
        document.getElementById('blog').className='underline-perm';
    };
</script>